.image {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px;
}

.image img {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 450px;
  object-fit: cover;
}

.profile {
  display: flex;
  padding: 15px;
  width: 100%;
}

.ava {
  margin: 10px;
  width: 30%;
}

.ava img {
  height: 220px;
  width: 220px;
  object-fit: cover;
}

.description {
  font-size: 20px;
  color: bisque;
}

.description h2 {
  color: black;
}

.lookingForAJob {
  display: flex;
  align-items: center;
}

.profileStatus {
  margin-left: 20px;
}

.profileStatus input {
  font-size: 15px;
}
