.pages {
  display: flex;
  padding: 5px;
  font-size: 18px;
  justify-content: center;
}

.pages span {
  text-align: center;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  border: 1px solid black;
}

.selectedPage {
  font-weight: bold;
}
