.header {
  display: flex;
  grid-area: h;
  background-color: green;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
}

.header a {
  width: 50%;
}

.header img {
  height: 100%;
  cursor: pointer;
}

.loginBlock {
  text-align: center;
  cursor: pointer;
  width: 10%;
  color: white;
}

.loginBlock a {
  color: white;
  text-decoration: none;
}
