.header {
  grid-area: h;
  background-color: green;

}

.header img {
  height: 100%;
  cursor: pointer;
}

.loginBlock {
  float: right;
  cursor: pointer;
}

.loginBlock a {
  color: black;
  text-decoration: none;
}
